{%extends "plantilla_base.html"%}
{% load static %}

{%block title%} Disponibilidad {%endblock%}

{%block content%} 
<h1>Bienvenido a Hotel Solutions</h1>
<p>Venga a nuestros maravillosos hoteles y pase su estancia en las mejores habitaciones</p>
{% if reserva %}
<p>{{reserva}}</p>
{% endif %}
{% if registros %}
<h4>Reservas aún en vigor</h4>
<table class="table table-striped" >
    <thead>
    <tr>
        <th scope="col"> Localizador </th>
        <th scope="col"> Id Habitación </th>
        <th scope="col"> Id Cliente </th>
        <th scope="col"> Nombre </th>
        <th scope="col"> Apellido </th>
        <th scope="col"> Teléfono </th>
        <th scope="col"> Email </th>
        <th scope="col"> Fecha entrada </th>
        <th scope="col"> Fecha salida </th>
        <th scope="col"> Huéspedes </th>
        <th scope="col"> Precio Estancia </th>
    </tr>
    </thead>
    <tbody>
    {% for registro in registros %}
    <tr>
        <th scope="row" >{{registro.localizador}}</th>
        <td>{{registro.id_habitacion.id_habitacion}}</td>
        <td>{{registro.id_cliente.id_cliente}}</td>
        <td>{{registro.id_cliente.nombre}}</td>
        <td>{{registro.id_cliente.apellido}}</td>
        <td>{{registro.id_cliente.telefono}}</td>
        <td>{{registro.id_cliente.email}}</td>
        <td>{{registro.fx_entrada}}</td>
        <td>{{registro.fx_salida}}</td>
        <td>{{registro.huespedes}}</td>
        <td>{{registro.cuantia_total}} {{registro.moneda}}</td>
    </tr>
    {% endfor %}    
    </tbody>
</table>
{% else %}
    <h1>No se tienen reservas actualmente</h1>
{% endif %}

<p>Podrás encontrar mas información en el <a href="https://github.com/Francisco-Neff/HotelSolutions">repositorio de este proyecto</a></p>

{%endblock%}