{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/navegacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/favicon.ico' %}">
    <title> {%block title%} {%endblock%} </title>
    {%block head_js%} {%endblock%}
</head>
<body>
<header id="header"> <h1>Hotel Solutions</h1></header>
<nav id="nav"> 
    <ul>
       
    <li><a href="{% url 'inicio' %}">Inicio</a></li>
    <li><a href="">Habitaciones</a>
    <ul>    
        <li><a href="{% url 'crearHabitacion' %}">Nuevas Habitaciones</a></li>
        <li><a href="{% url 'listarHabitaciones' %}">Mostrar Habitaciones</a></li>
        <li><a href="{% url 'udHabitacion' 'modificar' %}">Modificar Habitaciones</a></li>
        <li><a href="{% url 'udHabitacion' 'borrar' %}">Eliminar Habitaciones</a></li>
    </ul>
    </li>

    <li><a href="">Cliente</a>
        <ul>    
            <li><a href="{% url 'altacliente' %}">Registrarse</a></li>
            <li><a href="{% url 'modificarcliente' %}">Modificar datos</a></li>
        </ul>
    </li>

    </ul>

</nav>
<div id="content">{%block content%} {%endblock%}</div>
<footer id="footer">
    Creado por: Francisco José Neff Hernandez, Ingeniero en telemática. <br>
    Contacto en <a href="https://www.linkedin.com/in/francisco-jos%C3%A9-neff-hern%C3%A1ndez/"> LinkedIn </a>
</footer>

</body>
</html>