{%extends "plantilla_base.html"%}
{% load static %}
{%block title%} Buscar Reserva {%endblock%}

{%block content%} 
{% if form %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success btn-lg" type="submit"> Buscar </button>
</form>
{% endif %}
{% if registros %}
<table class="table table-striped"> 
    <thead>
    <tr>
        <th scope="col"> Localizador </th>
        <th scope="col"> Id Cliente </th>
        <th scope="col"> Habitación </th>
        <th scope="col"> Imagen </th>
        <th scope="col"> Huéspedes </th>
        <th scope="col"> Nº Habitación </th>
        <th scope="col"> Fecha entrada </th>
        <th scope="col"> Fecha salida </th>
        <th scope="col"> Precio Estancia </th>

    </tr>
    </thead>
    <tbody>
    {% for registro in registros %}
    <tr>
        <th scope="row"> {{registro.localizador}} </th>
        <td>{{registro.id_cliente.id_cliente}}</td>
        <td>{{registro.id_habitacion.id_habitacion}}</td>
        <td><img src={{registro.id_habitacion.imagen.url}} class="img_habitacion"></td>
        <td>{{registro.id_habitacion.tipo_habitacion}}</td>
        <td>{{registro.id_habitacion.n_habitacion}}</td>
        <td>{{registro.fx_entrada}}</td>
        <td>{{registro.fx_salida}}</td>
        <td>{{registro.cuantia_total}} {{registro.moneda}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h1>{{repuesta}}</h1>
{% endif %}
{%endblock%}