{%extends "plantilla_base.html"%}
{% load static %}
{%block title%} Habitacion {%endblock%}
{%block head_js%}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="{% static 'js/csrf_cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validadores.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{%endblock%}

{%block content%} 
{% if habitaciones %}
<div id = "disponibilidad">
    <p> Listado de habitaciones disponibles para <span id="huespedes">{{huespedes}}</span> persona/as en las fechas desde: <span id="entrada">{{fx_entrada}}</span> hasta: <span id="salida">{{fx_salida}}</span> </p>
<table id="tabla"></table>
</div>
<div id = "formcontact" >
    <form  id="contacform"  method="POST" action="{% url 'confirmar_reserva' %}">
        {% csrf_token %}
        {{form.as_p}}        
</form> 
<button onclick=enviarReserva()>Reservar</button> 
</div>
{% else %}
<h1>No se encontrado ninguna habitación disponible</h1>
{% endif %}
{%endblock%}
{%block body_js%} 
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    console.log(csrftoken)

    document.getElementById("formcontact").hidden = true
    var id_habitacion = ''

    var habitaciones =  '{{habitaciones|safe}}' 
    var data = JSON.parse(habitaciones)
    
    $("#tabla").append('<thead> <tr> <th> Habitación </th>'+
        '<th> Huespedes </th>'+
        '<th> Precio </th>'+
        '<th> Seleccionar </th> </tr> </thead>')
    $("#tabla").append('<tbody>')

    for (i in data)
        $("#tabla").append('<tr> <td align="center"  id="'+data[i].habitacion+'">' +  data[i].habitacion + '</td>'+
            '<td align="center">' +  data[i].huespedes + '</td>'+
            '<td align="center">' +  data[i].precio + '</td>' +
            '<td> <button class="boton" onclick="habitacionSeleccionada('+data[i].habitacion+')">Seleccionar</button> </td> </tr>')

    $("#tabla").append('</tbody>')

    function habitacionSeleccionada(element) {
        document.getElementById("disponibilidad").hidden = true;
        document.getElementById("formcontact").hidden = false;
        id_habitacion = element.id  
    };  
    
    function enviarReserva(){
        reservaHabitacion(id_habitacion)
    }
    
</script>

{%endblock%}
    