{%extends "plantilla_base.html"%}
{% load static %}

{%block title%} Habitaciones {%endblock%}
{%block content%} 
    {% if registros %}
    <table>
    <thead>
    <tr>
        <th> Clave </th>
        <th> Tipo </th>
        <th> Nº Habitación </th>
        <th> Imagen </th>
    </tr>
    </thead>
    <tbody>
    {% for registro in registros %}
    <tr>
        <td>{{registro.id_habitacion}}</td>
        <td>{{registro.tipo_habitacion}}</td>
        <td>{{registro.n_habitacion}}</td>
        <td><img src={{registro.imagen.url}} class="img_habitacion"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h1>No se tienen registros</h1>
{% endif %}

{%endblock%}
 