{%extends "plantilla_base.html"%}
{% load static %}

{%block title%} Habitaciones {%endblock%}
{%block content%} 
    {% if registros %}
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"> Clave </th>
        <th scope="col"> Imagen </th>
        <th scope="col"> Huéspedes </th>
        <th scope="col"> Nº Habitación </th>
        
    </tr>
    </thead>
    <tbody>
    {% for registro in registros %}
    <tr>
        <th scope="row" >{{registro.id_habitacion}}</th>
        <td><img src={{registro.imagen.url}} class="img_habitacion"></td>
        <td>{{registro.tipo_habitacion}}</td>
        <td>{{registro.n_habitacion}}</td>
        
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h1>No se tienen registros</h1>
{% endif %}

{%endblock%}
 