{%extends "plantilla_base.html"%}

{%block title%} Inicio {%endblock%}
{%block content%} 

<table>
    <tbody>
    {% if registros %}
    <tr>
        <th> Clave </th>
        <th> Tipo </th>
        <th> Nº Habitación </th>
    </tr>
    {% for registro in registros %}
    <tr>
        <td>{{registro.id_habitacion}}</td>
        <td>{{registro.tipo_habitación}}</td>
        <td>{{registro.n_habitacion}}</td>
    </tr>
    
    </tr>
    {% endfor %}
    {% else %}
    <h1>No se tienen registros</h1>
    {% endif %}
    </tbody>
</table>

{%endblock%}
 